
@{
    Layout = null;
}
@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MINH NGUYÊN</title>
    <!-- Custom fonts for this template-->
    <link href="/Assets/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/Assets/admin/css/sb-admin.css" rel="stylesheet">
    <LINK REL="SHORTCUT ICON" HREF="~/Content/Image/iconMN.ico">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Reset Password</div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4>Bạn quên mật khẩu?</h4>
                    <p>Nhập tên tài khoản và địa chỉ email của bạn. <br />Hệ thống sẽ gửi cho bạn mã xác thực để lấy lại mật khẩu.</p>
                </div>
                <form action="/Account/ForgetPassword" method="post" autocomplete="off">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "", new { @class="text-danger"})
                    <div class="form-group">
                        <input type="text" ng-model="User1" name="user1" id="" class="form-control" placeholder="Enter user name" required="required" autofocus="autofocus">
                        <br /> <input type="email" ng-model="Email" name="email" id="inputEmail" class="form-control" placeholder="Enter email address" required="required">
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Tiếp tục" />
                </form>
                @*<div class="text-center">
                    <a class="d-block small mt-3" href="register.html">Register an Account</a>
                    <a class="d-block small" href="login.html">Login Page</a>
                </div>*@
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/Assets/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/Assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/Assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>

