
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Import_PSI_WM_REF">Back</a>
            </li>
            <li class="breadcrumb-item active">404 Error</li>
        </ol>
        <!-- Page Content -->
        <h1 class="display-1">404</h1>
        <p class="lead">
            File not found.<br />
            <span style="color:red">Bạn vui lòng đóng file excel trước khi tải.</span>
        </p>
    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
  
</div>

